
<div class="section px-1 py-5">
    <div class="container ">
    <div class="row justify-content-center py-3 text-center text-white">
        <div class="col-md-4 p-2 ">
            <h3>Location</h3>
            <p>2215 John Daniel Drive <br>
                Clark, MO 65243</p>
        </div>
        
        <div class="col-md-4 p-2">
            <h3>AROUND THE WEB  </h3>
           <div class="d-flex pt-3 align-items-center justify-content-center">
            <div class="icon d-flex rounded-circle m-1 align-items-center justify-content-center p-3">

             <i class="fab fa-fw fa-facebook-f"></i> 

            </div>
           
            <div class="icon d-flex rounded-circle m-1 align-items-center justify-content-center p-3">

                <i class="fab fa-fw fa-twitter"></i> 
   
               </div>
           
               <div class="icon rounded-circle d-flex m-1 align-items-center justify-content-center  p-3">

<i class="fab fa-fw fa-linkedin-in"></i> 
</div>
              
            <div class="icon  rounded-circle d-flex m-1 align-items-center justify-content-center">


<i class="fab fa-fw fa-dribbble"></i> 
               </div>
           </div>

        </div>
        
        <div class="col-md-4 p-2 ">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
</div>

<div class="copyright w-100 d-flex justify-content-center align-items-center p-2"> <p class="fs-6 text-white">Copyright © Your Website 2021</p></div>