.Home{
    padding: 110px 0;
    background-color: #1abc9c !important;
}

.Home .container{
    background-color: #1abc9c !important;
}
img{
    width: 15rem !important;
}
h1{
    color: white;
    font-size: 64px;
    font-weight: 700;
}
#line{
    height: 5px !important;
    border-radius: 20px !important;
    background-color: white !important;
    width: 7rem !important;
}